<div class="container"> 
<div class="jumbotron"> 
<h2 style="text-align: center">   Victor's Reminder App! </h2>
</div>

<div class="mainContent">
<% @items.each do |item| %>
    <% if item.completed? %>
        <h2 style="opacity: 0.5"> <strike><%= link_to item.title, item%> </strike></h2>
        <p style="opacity: 0.5"> <%= item.description %> </p>
        <p style="opacity: 0.5" > Completed <%= time_ago_in_words(item.completed_at)  %> ago</p>
        <button class="btn-secondary"><%= link_to "Delete", item, method: :delete, data: {confirm: "Are you sure you want to delete?"} %></button>
    

    <% else %>

    <h2> <%= link_to item.title, item%></h2>
    <p> <%= item.description %> </p>
    <p> Created <%= time_ago_in_words(item.created_at) %> ago</p>
    <button><%= link_to "Mark as Complete", complete_item_path(item), method: :patch %> </button>
    <button><%= link_to "Delete", item, method: :delete, data: {confirm: "Are you sure you want to delete?"} %></button>

    <% end %>
<% end %>
<br>
</div>
<p class="newItem"><%= link_to "New Item", new_item_path %> </p>

</div>